@font-face {
  font-family: "Inter";
  src: local("Inter"), url(../assets/fonts/Inter-VariableFont.ttf) format("truetype");
}
* {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
  position: relative;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin: 15px 0 0 0;
  justify-content: space-between;
  align-items: center;
}
.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}
.post:nth-last-of-type(1) {
  margin-bottom: 25vh;
}
.post > * :not(button) {
  -webkit-hyphens: auto;
          hyphens: auto;
  word-wrap: break-word;
  word-break: break-all;
}