@use '../styles/fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
    position: relative;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin: 15px 0 0 0;
    justify-content: space-between;
    align-items: center;

    &-enter {
        transform: translateX(-350px);
    }

    &-enter-active {
        transform: translateX(0px);
        transition: all 500ms ease-in;
    }

    &-exit {
        opacity: 1;
    }

    &-exit-active {
        transform: translateX(-350px);
        transition: all 500ms ease-in;
    }

    &:nth-last-of-type(1) {
        // margin bootom enought to see the last post
        margin-bottom: 25vh;
    }

    & > * :not(button) {
        // make hyphens for long strings
        hyphens: auto;
        word-wrap: break-word;
        word-break: break-all;
    }
}
